<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Map</title>

    <!-- Load the static tag at the top of the file -->
    {% load static %}

    <!-- jQuery, maphilight, and htmx scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
    <!-- maphilight styles (customize as needed) -->
    <script type="text/javascript">
        <!--When changing default settings, the maphilight plugin forces you to specifiy EVERYTHING, or else it will break-->
        $.fn.maphilight.defaults = {
            fill: true,
            fillColor: '46166b',
            fillOpacity: 0.5,
            stroke: true,
            strokeColor: 'eeb211',
            strokeOpacity: 1,
            strokeWidth: 5,
            fade: true,
            alwaysOn: false,
            neverOn: false,
            groupBy: false,
            wrapClass: true,
            shadow: false,
            shadowX: 0,
            shadowY: 0,
            shadowRadius: 6,
            shadowColor: '000000',
            shadowOpacity: 0.8,
            shadowPosition: 'outside',
            shadowFrom: false
        }
        $(document).ready(function() {
            $('.map').maphilight();
        });
    </script>
</head>
<body>

    <!-- Your map image and areas -->
    <img class="map" src="{% static 'img/mapUptown.png' %}" usemap="#image-map">

    <map name="image-map">
	<area target="" alt="Lecture Center" title="Lecture Center" href="{% url 'get_building_info' building_slug='lecture-center' %}" coords="1091,737,1216,644" shape="rect">
	<area target="" alt="Campus Center" title="Campus Center" href="{% url 'get_building_info' building_slug='campus-center' %}" coords="1050,867,1052,797,1122,797,1120,751,1142,751,1142,770,1167,770,1167,751,1190,751,1188,797,1210,797,1210,805,1237,805,1237,830,1206,830,1206,864,1167,865,1167,834,1142,834,1142,867" shape="poly">
	<area target="" alt="University Library" title="University Library" href="" coords="996,657,1080,657,1080,682,1058,682,1058,698,1080,698,1078,723,996,723" shape="poly">
	<area target="" alt="Performing Arts Center" title="Performing Arts Center" href="{% url 'get_building_info' building_slug='performing-arts-center' %}" coords="1229,657,1295,657,1295,723,1229,723,1229,698,1247,698,1247,680,1229,680" shape="poly">
	<area target="" alt="Catskill Building" title="Catskill Building" href="" coords="957,604,1041,638" shape="rect">
	<area target="" alt="Arts And Sciences Building" title="Arts And Sciences Building" href="" coords="1051,604,1126,638" shape="rect">
	<area target="" alt="Fine Arts Building" title="Fine Arts Building" href="" coords="1183,605,1260,638" shape="rect">
	<area target="" alt="Earth Science &amp; Mathematics Building" title="Earth Science &amp; Mathematics Building" href="" coords="1268,605,1352,637" shape="rect">
	<area target="" alt="Biology Building" title="Biology Building" href="" coords="1350,641,1383,739" shape="rect">
	<area target="" alt="Chemistry Building" title="Chemistry Building" href="" coords="1268,742,1352,775" shape="rect">
	<area target="" alt="Physics Building" title="Physics Building" href="" coords="1202,745,1258,778" shape="rect">
	<area target="" alt="Taconic Building" title="Taconic Building" href="" coords="1052,743,1107,776" shape="rect">
	<area target="" alt="Humanities Building" title="Humanities Building" href="" coords="957,744,1041,775" shape="rect">
	<area target="" alt="Social Science Building" title="Social Science Building" href="" coords="928,640,959,739" shape="rect">
	<area target="" alt="Life Sciences Building" title="Life Sciences Building" href="" coords="1381,654,1381,632,1420,632,1420,609,1451,609,1451,642,1497,642,1497,741,1451,741,1451,774,1418,774,1418,755,1379,755,1379,726,1408,726,1408,654" shape="poly">
	<area target="" alt="Science Library" title="Science Library" href="" coords="1124,863,1183,931" shape="rect">
	<area target="" alt="Massry Center for Business" title="Massry Center for Business" href="" coords="1062,518,1080,518,1080,512,1087,512,1089,518,1099,518,1099,562,1103,562,1103,572,1099,572,1099,586,1062,586,1062,539,1058,539,1056,527,1062,527,1056,527" shape="poly">
	<area target="" alt="University Hall - Office of Undergraduate Admissions" title="University Hall - Office of Undergraduate Admissions" href="" coords="1216,521,1258,534,1243,577,1202,564" shape="poly">	
	<area target="" alt="Colonial Quad" title="Colonial Quad" href="" coords="870,371,1012,501" shape="rect">
	<area target="" alt="State Quad" title="State Quad" href="" coords="1297,372,1441,506" shape="rect">
	<area target="" alt="Dutch Quad" title="Dutch Quad" href="" coords="868,876,1012,1010" shape="rect">
	<area target="" alt="Indigenous Quad" title="Indigenous Quad" href="" coords="1297,877,1439,1007" shape="rect">
	<area target="" alt="Freedom Apartments" title="Freedom Apartments" href="" coords="104,810,259,1026" shape="rect">
	<area target="" alt="Empire Commons" title="Empire Commons" href="" coords="454,458,454,423,477,423,477,373,609,373,609,451,650,451,650,484,677,484,677,651,646,651,646,682,617,705,617,775,541,775,475,678,475,610,456,610,456,581,421,581,421,558,397,558,397,480,421,480,421,458" shape="poly">
	<area target="" alt="Liberty Terrace" title="Liberty Terrace" href="" coords="1834,1092,1845,1072,1913,1113,1915,985,1962,985,1977,1117,1977,1140,1948,1266,1898,1259,1902,1229,1851,1264,1838,1245,1880,1220,1853,1177,1853,1160,1880,1119" shape="poly">
	<area target="" alt="Boor Sculpture Studio" title="Boor Sculpture Studio" href="" coords="1793,813,1853,841,1834,876,1795,857,1773,853" shape="poly">
	<area target="" alt="Emerging Technology and Entrepreneurship Complex (ETEC)" title="Emerging Technology and Entrepreneurship Complex (ETEC)" href="" coords="2036,765,2036,747,2028,739,2042,716,2075,743,2075,835,2051,835,2049,825,2042,825,2038,835,2016,817,2016,765" shape="poly">
	<area target="" alt="Albany Nanotech Complex" title="Albany Nanotech Complex" href="" coords="85,499,195,459,281,482,421,684,347,750,246,760,224,804,52,802,52,523" shape="poly">
	<area target="" alt="Physical Education Building" title="Physical Education Building" href="" coords="1099,1153,1087,1141,1218,1141,1208,1153,1208,1219,1214,1219,1214,1244,1093,1244,1093,1217,1099,1217" shape="poly">
	<area target="" alt="Broadview Center (SEFCU Arena)" title="Broadview Center (SEFCU Arena)" href="" coords="1115,1248,1192,1309" shape="rect">
	<area target="" alt="Bob Ford Field at Tom &amp; Mary Casey Stadium" title="Bob Ford Field at Tom &amp; Mary Casey Stadium" href="" coords="1266,1270,1278,1258,1332,1258,1342,1270,1342,1381,1266,1381" shape="poly">
	<area target="" alt="Track and Field Complex" title="Track and Field Complex" href="" coords="1097,1036,1216,1036,1216,1043,1237,1061,1243,1090,1233,1119,1231,1139,1070,1139,1070,1125,1058,1106,1058,1075,1070,1051" shape="poly">
	<area target="" alt="John R. Fallon Field" title="John R. Fallon Field" href="" coords="1297,1104,1377,1224" shape="rect">
	<area target="" alt="UAlbany Field (Varsity Softball Field)" title="UAlbany Field (Varsity Softball Field)" href="" coords="934,1060,1002,1060,1008,1068,1006,1128,1002,1134,980,1134,949,1119,934,1088" shape="poly">
	<area target="" alt="Varsity Field (Baseball Field)" title="Varsity Field (Baseball Field)" href="" coords="1628,1296,1727,1276,1752,1290,1764,1343,1752,1366,1717,1399,1667,1411,1651,1404,1616,1313" shape="poly">
	<area target="" alt="Other Outdoor Sports Facilities" title="Other Outdoor Sports Facilities" href="" coords="1000,1239,802,1236,804,1062,868,1062,868,1036,926,1036,928,1145,1000,1145,1000,1240,1302,1486,1419,1488,1418,1458,1571,1456,1571,1266,1839,967,1879,984,1928,972,1949,949,1938,930,1881,891,1839,967,1572,1266,1506,1266,1506,1256,1372,1254,1390,1223,1390,1223,1453,1222,1455,1123,1389,1123,1414,1094,1414,1076,1418,1049,1402,1071,1402,1092,1414,1094,1389,1123,1389,1222,1373,1253,1371,1401,1303,1401,1303,1486" shape="poly">
    </map>

</body>
</html>
