# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
pyvenv.cfg
Pipfile.lock
pipfile.lock
pipenv.lock

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Static files
staticfiles/

# Local development settings
local_settings.py

# IDE settings
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.obj
*.dll
*.pyd
*.pyo

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Exclude virtual environment directories
campusmap/Include/
campusmap/Scripts/
campusmap/Lib/
