@import url('https://fonts.googleapis.com/css?family=Public+Sans');

/* Reset some default styles for the body */
body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White background */
}

/* Link styles */
a:link, a:visited, a:hover, a:active {
  color: #800080; /* Purple */
  text-decoration: none;
}

/* Set styles for images */
img {
  width: 150px;
  height: 150px;
}

/* Set styles for the outline class */
.outline {
  margin: auto;
  background-color: #ffd700; /* Gold */
  text-align: center;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #ffd700; /* Gold */
}

/* Styles for the begin class */
.begin {
  margin: auto;
  background-color: #800080; /* Purple */
  text-align: center;
  padding: 20px;
}

/* Styles for the info class */
.info {
  margin: auto;
  background-color: #ffffff; /* White */
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

/* Styles for unordered lists inside the info class */
.info ul {
  list-style-type: none;
  padding: 0;
}

/* Styles for list items inside the info class */
.info li {
  padding: 5px 0;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  .info {
      width: 100%;
      float: none;
  }
}
