
body {
  font-family: 'Public Sans',sans-serif;
  line-height: 1.5rem;
}
hr {
  color: #eeb211;
  background-color: #eeb211;
  height: 3px;
  border-width: 0;
}
.heading {
  margin: 0;
  padding: 2%;
  background-color: #46166b;
}
h1 {
  color: white;
  font-weight: 900;
}
h2 {
  margin-left: 1%;
  color: #46166b;
  font-weight: 800;
}
p, ol, a {
  margin-left: 3%;
}
.footing {
  margin: 0;
  padding: 1%;
  background-color: #46166b;
  text-align: right;
  font-size: 75%;
  color: white;
}