<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>{{ building_info.title }} - UAlbany Virtual Tour</title>

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Public+Sans">
</head>
<body>

    <div class="container">
        <header>
            <h1>UAlbany Virtual Tour</h1>
        </header>

        <main>
            <section class="building-info">
                <h2>{{ building_info.title }}</h2>

                <article class="info">
                    <section class="about">
                        <h3>About</h3>
                        {% if building_info.mission %}
                            <p>{{ building_info.mission }}</p>
                        {% endif %}
                        {% if building_info.history %}
                            <h3>History</h3>
                            <p>{{ building_info.history }}</p>
                        {% endif %}
                        {% if building_info.ideals %}
                            <h3>Values</h3>
                            <p>{{ building_info.ideals }}</p>
                        {% endif %}
                        {% if building_info.vision %}
                            <h3>Vision</h3>
                            <p>{{ building_info.vision }}</p>
                        {% endif %}
                        {% if building_info.leadership %}
                            <h3>Leadership</h3>
                            <ul id="leadership">
                                {% for leader in building_info.leadership %}
                                    <li>{{ leader }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </section>

                    {% if building_info.amenities %}
                        <section class="amenities">
                            <h3>Amenities</h3>
                            <ul id="amenities">
                                {% for amenity in building_info.amenities %}
                                    <li>{{ amenity }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}

                    {% if building_info.hours %}
                        <section class="hours">
                            <h5>Hours</h5>
                            <ul id="hours">
                                {% for hour in building_info.hours %}
                                    <li>{{ hour }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}

                    {% if building_info.performances %}
                        <section class="performances">
                            <h4>Performances</h4>
                            <ul id="performances">
                                {% for performance in building_info.performances %}
                                    <li><a href="{{ performance.link }}" title="{{ performance.name }}">{{ performance.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}

                    {% if building_info.access_hours_contact %}
                        <section class="access-hours-contact">
                            <h4>Access, Hours and Contact</h4>

                            {% if building_info.access_hours_contact.building_access %}
                                <h5>Building Access</h5>
                                <ul id="building-access">
                                    {% for access in building_info.access_hours_contact.building_access %}
                                        <li>{{ access }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if building_info.access_hours_contact.office_hours %}
                                <h5>Office Hours</h5>
                                <ul id="office-hours">
                                    {% for office_hour in building_info.access_hours_contact.office_hours %}
                                        <li>{{ office_hour }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if building_info.access_hours_contact.contact_info %}
                                <h5>Contact Information</h5>
                                <ul id="contact-info">
                                    {% for key, value in building_info.access_hours_contact.contact_info.items %}
                                        <li><strong>{{ key }}</strong> {{ value }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </section>
                    {% endif %}

                    {% if building_info.quad_dorms %}
                        <section class="quad-dorms">
                            <h4>Quad Dormitories</h4>
                            <ul id="quad-dorms">
                                {% for dorm in building_info.quad_dorms %}
                                    <li>{{ dorm }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                </article>
            </section>
        </main>

        <footer>
            <p>Programmed by Akinde Mendoza, Jeremy J. Lam, Joseph A. Zarakas, Othmane Benkhalifa, & Godswill U. Utionkpan<br>
            for Professor Kimberly Cornell's Fall 2023 CINF 405 class</p>
        </footer>
    </div>

</body>
</html>
